@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "./fonts.css";
@import "./themes.css";
@import "./components.css";
@import "./utilities.css";
@import "./globals.css";