@import "tailwindcss";

@theme {
  /* media */
  --breakpoint-2xs: 23rem; /* 368px */
  --breakpoint-xs: 27rem; /* 432px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 38rem; /* 608px */
  --breakpoint-lg: 48rem; /* 768px */
  --breakpoint-xl: 64rem; /* 1024px */
  --breakpoint-2xl: 80rem; /* 1280px */
  --breakpoint-3xl: 96rem; /* 1536px */

  /* font-family */
  --font-family: "Montserrat", sans-serif;

  /* shadow */
  --shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
